In [34]:
import pandas as pd

In [35]:
dpath = 'test.txt'

In [44]:
test = pd.read_csv(dpath, index_col = 0, names = ['a', 'b', 'c', 'd', 'e'])

In [45]:
#test.fillna(0, inplace=True)

In [46]:
test

           b    c    d    e
a
eid_121  313  3.0  4.0  5.0
eid_123   31  NaN  NaN  NaN

In [47]:
test.index.values

array(['eid_121', 'eid_123'], dtype=object)

In [33]:
import numpy as np

In [ ]:
abc = np.array([0.9,])